{% extends "base.html" %} {% block content %}
<h1></h1>

<div class="flex flex-wrap">
  <div class="w-33 pa3">
    <h2>{{ contact.name }}</h2>

    <div class="flex">
      <div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {{ contact.address_1 }}<br />
        {% if contact.address_2 %} {{ contact.address_2 }}<br />
        {% endif %} {{ contact.city }}, {{ contact.state }}
        <span> {{ contact.zip_code }} </span>
      </div>
    </div>

    {% if contact.phone_number %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ contact.phone_number }}</div>
    </div>
    {% endif %} {% if contact.birthdate %}
    <div class="flex">
      <div>DOB: {{ contact.birthdate}}</div>
    </div>
    {% endif %} {% if contact.email %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ contact.email }}</div>
    </div>
    {% endif %}
  </div>
  <div>
    <h2>Notes</h2>
    {% for note in notes %}
    <p>{{note.note_content}}</p>
    {% endfor %}
  </div>
</div>

<!-- contact form  -->

<a href="{% url 'add_contact_note' pk=contact.pk %}">Add note to contact </a
><br />

{% endblock %}
